.divContainer {
    color: #5b0672;
    width: 45%;
    height: 70vh;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: rgba(226,206,246, 0.7);
    align-items: center;
    overflow-y: auto;
}

.button {
    margin: 10px auto;
    border-radius: 10px;
    height: 40px;
    background-color: #e2cef6;
    border: none;
    padding: 7px;
    color: #5b0672;
    display: block;
}