body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#contenedorApp {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: rgba(91, 6, 114, 0.9); /* Color con opacidad */
}

#contenedorApp::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url('./assets/img/background.jpg');
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

#componentes {
  width: 100%;
  position: relative;
  z-index: 1;
}
